@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
}

@keyframes slow-zoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.animate-slow-zoom {
  animation: slow-zoom 20s infinite alternate ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-950 text-zinc-300 antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border-2 border-zinc-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#D4AF37];
}
